.expPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.workintro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.expHeader {
    font-family: "eurostile", sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color: #282c34;
    padding-top: 40px;
}

.expIntro {
    font-family: "eurostile", sans-serif;
    font-size: 18px;
    color: #282c34;
    margin: 20px 15rem 20px 15rem;
}

.container {
    display: flex;
    border: 3px solid #f5f5f5;
    border-radius: 20px;
    background-color: white;
    margin: 20px 40px -20rem 40px;
    z-index: 1000;
}

.column1, .column2 {
    border-right: 2px solid #f5f5f5;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
}

.column3 {
    padding: 20px;
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
}

.company1, .company2, .company3 {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding-right: 35px;
}

.company {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 800;
    color: rgb(31, 145, 126);
    padding-top: 20px;
    padding-bottom: 20px;
}

.pos {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    color: #282c34;
}

.yoe {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    color: rgb(82, 190, 172);
    padding-top: 20px;
    padding-bottom: 20px;
}

.lt {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    color: rgb(82, 190, 172);
    padding-top: 20px;
}