.contactPage {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Space between icons */
    padding: 20px;
}

.socialLinks a {
    text-decoration: none; /* Remove underline */
    color: rgb(31, 145, 126);; /* Default icon color */
}

.socialLinks i {
    transition: color 0.3s;
}

.socialLinks a:hover i {
    color: white; /* LinkedIn color */
}

.pageEnd {
    padding: 20px;
    border-top: 1px solid #ccc; /* Thin border */
    padding-top: 10px;
    text-align: center; /* Center the content */
}

.nm{
    font-size: 14px;
    font-weight: bold;
    color: #f5f5f5;
}

.cr {
    font-size: 14px;
    color: rgb(31, 145, 126);
}